
/*--------- Search Bar ----------*/

.search-bar{
    margin-bottom: 1rem;
}

#inputValue {
    width: 700px;
    font-weight:450;
    font-size: 1rem;
    padding: .5rem .6rem;
    border-radius: 0.2rem;
    outline: none;
}

#search {
    color: #fff;
    background-color: #00008B;
    font-size: 1rem;
    min-height: 38px;
    font-weight: 450;
    padding: .5rem .6rem;
    border-radius: 0.2rem;
    outline: none;
}